<% if (flash && flash.error) { %>
    <p style="color: red;"><%= flash.error %></p>
<% } %>
<form method="POST">
    username: <input name="username"><br>
    password: <input type="password" name="password"><br>
    <button>Sign in</button>
</form>